<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Domions</title>
  </head>
  <body>
    <div class="container">
      <h1>Domions Game</h1>
      <form action="/create-board" method="post" action="">
        <input class="btn btn-primary" type="submit" name="crest" value="create new game">
      </form>
    </div>
  </body>
</html>
